@page "/datepicker/overview"
@page "/datepicker/index"


<div class="demo-section k-form k-form-md k-form-vertical">
    <div class="k-form-field">
        <label for="travel-date" class="k-label k-form-label">Travel Date</label>
        <div class="k-form-field-wrap">
            <TelerikDatePicker @bind-Value="@SelectedDate"
                               Min="@Min"
                               Max="@Max"
                               DebounceDelay="@DebounceDelay"
                               ShowWeekNumbers="true"
                               Id="travel-date">
            </TelerikDatePicker>
        </div>
    </div>
    <div class="k-form-field">
        <p>The selected travel date is: <strong>@SelectedDate?.ToLongDateString()</strong></p>
    </div>
</div>

@code {
    private DateTime? SelectedDate { get; set; }
    private DateTime Max = new DateTime(2050, 12, 31);
    private DateTime Min = new DateTime(1950, 1, 1);
    private int DebounceDelay { get; set; } = 200;
}